In [2]:
from __future__ import division
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('hist.csv')
df.head()

    Edad  Hombres  Mujeres
0      0        2        1
1    1-4        8        2
2    5-9        4        2
3  10-14       11        6
4  15-19      136        9

In [21]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x=df.Edad,
    y=df.Hombres,
    name='Hombres',
    marker=dict(
        color='rgb(51,153,255)',
    )
)
trace2 = go.Bar(
    x=df.Edad,
    y=df.Mujeres,
    name='Mujeres',
    marker=dict(
        color='rgb(255,153,255)',
    )
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='stack',
)

fig = go.Figure(data=data, layout=layout)
py.image.save_as(fig, filename='homihist.png')